@import "./tokens/tokenVariables";
@import "./node_modules/@alaskaairux/orion-web-core-style-sheets/dist/breakpoints";

@keyframes entrance {
  0% {
    transform: translateY(calc(20px + 100%));
  }
  35% {
    transform: translateY(calc(10px - 5%));
  }
  60% {
    transform: translateY(calc(10px + 0%));
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes exitLeft {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes exitRight {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@keyframes exitDown {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

ods-toast {
  transform: translateY(calc(20px + 100%));
  display: inline-block;
  width: 100%;

  @include breakpoint-narrow {
    min-width: 400px;
  }
}

.ods-toast {
  &__toastContainer {
    width: 100%;
    position: fixed;
    bottom: $size-scale-lg;
    left: 0px;

    @include breakpoint-narrow {
      max-width: 400px;
      left: 20px;
    }
  }

  &__showToast {
    animation-name: entrance;
    animation-duration: 1s;
    transform: translateY(0%);
  }

  // animation-duration must match _destroyCurrentToast() setTimeout value(js)
  $duration: 300;
  &__exitToast {
    &--left {
      animation-name: exitLeft;
      animation-duration: #{$duration}ms;
    }

    &--right {
      animation-name: exitRight;
      animation-duration: #{$duration}ms;
    }

    &--down {
      animation-name: exitDown;
      animation-duration: #{$duration}ms;
    }
  }
}
